NEXT_PUBLIC_API_URL=https://snipurl-api.kpsougandh7.workers.dev
NEXT_PUBLIC_API_KEY=su_dev_bootstrap_key
NEXT_PUBLIC_SUPABASE_URL=https://wdqjhsfycgmsjbqdzoju.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
NEXT_PUBLIC_APP_URL=https://snipurl2026.vercel.app
NEXT_PUBLIC_DISPLAY_DOMAIN=https://url6.vercel.app
